{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %}🌿 Mato Grosso Outdoors{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .text-shadow-lg {
            text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
        }

        .whatsapp-float {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 60px; /* ajuste conforme o tamanho desejado */
            height: 60px;
            z-index: 1000;
            transition: opacity 0.3s, transform 0.3s;
        }

        .whatsapp-float:hover {
            opacity: 0.8;
            transform: scale(1.1);
        }

        .whatsapp-float img {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body class="min-h-screen bg-gradient-to-b from-green-50 to-green-100 flex flex-col"> <!-- flex flex-col para empurrar o footer pra baixo quando se tem pouco conteudo -->
    <!-- Header -->
    <header class="bg-gradient-to-br from-green-800 via-green-600 to-green-500 text-white {{ cssExtraHeader|default:"py-2" }} text-center relative overflow-hidden ">
        {% block header1 %}{% endblock %}
        <div class="container mx-auto px-5 relative z-10">

            <!-- bkp 
            <h1 class="text-5xl md:text-6xl font-light text-shadow-lg animate-fade-in" style="animation-duration: 1s;">
                <img src="static/imagens/logo.png" class="inline animate-fade-in" style="animation-duration: 3s;" width="120" height="120">
                <span class="ml-2">MATO GROSSO OUTDOORS</span>
            </h1>
            -->

            <h1 class="text-4xl md:text-6xl font-light text-shadow-lg animate-fade-in flex flex-col md:flex-row items-center justify-center text-center md:text-left" style="animation-duration: 1s;">
                <img src="static/imagens/logo.png"
                    class="animate-fade-in w-28 h-28 mb-2 md:mb-0 md:mr-4"
                    style="animation-duration: 3s;"
                    width="120" height="120">
                <span>MATO GROSSO OUTDOORS</span>
            </h1>
            
            {% block header2 %}{% endblock %}
        </div>
    </header>


    <!-- Navigation Menu -->
    <nav class="bg-white shadow-md sticky top-0 z-40">
        <div class="container mx-auto px-5">
            <div class="flex justify-center">
                <ul class="flex space-x-4 sm:space-x-8 py-4">
                    <li>
                        <a href="/" class="text-green-700 hover:text-green-500 font-medium text-lg transition-colors duration-300 hover:underline">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="pontos" class="text-green-700 hover:text-green-500 font-medium text-lg transition-colors duration-300 hover:underline">
                            Pontos
                        </a>
                    </li>
                    <li>
                        <a href="contato" class="text-green-700 hover:text-green-500 font-medium text-lg transition-colors duration-300 hover:underline">
                            Contato
                        </a>
                    </li>
                    <li>
                        <a href="blog" class="text-green-700 hover:text-green-500 font-medium text-lg transition-colors duration-300 hover:underline">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="sobre" class="text-green-700 hover:text-green-500 font-medium text-lg transition-colors duration-300 hover:underline">
                            Sobre
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- content -->
    <section class="py-4 bg-gradient-to-b from-green-50 to-green-100 flex-grow"> <!-- flex-grow para empurrar o footer pra baixo quando se tem pouco conteudo -->
        <div class="container mx-auto px-5">
            <h2 class="text-4xl md:text-5xl font-light text-center text-green-800 mb-12">
                {% block subtitulo %}{% endblock %}
            </h2>
            <div id="conteudo">
                {% block content %} {% endblock %}
            </div>
        </div>
    </section>    


    <!-- Footer -->
    <footer class="bg-green-800 text-white text-center py-8 mt-16">
        <div class="container mx-auto px-5">
            <p class="text-lg">
                Mato Grosso Outdoors. Mostre sua marca para o mundo. Entre em contato
                <a href="https://wa.me/5566996068288" target="_blank"><img src="static/imagens/icons8-whatsapp-48.png" alt="WhatsApp" class="inline w-6 h-6"></a>
            </p>
        </div>
    </footer>

    <!-- Botão whats flutuante -->
    <a href="https://wa.me/5566996068288" 
        class="whatsapp-float" 
        target="_blank" 
        rel="noopener noreferrer">
        <img src="static/imagens/icons-whatsapp-float.svg" alt="WhatsApp">
    </a>

    {% block script %} {% endblock %}
</body>
</html>
