{% extends "base.html" %}
{% block title %}Contato{% endblock %}
{% block subtitulo %}Contato{% endblock %}
{% block content %}
<p>
    Entre em contato pelo whatsapp 
    <a href="https://wa.me/5566996068288" target="_blank">(66) 9 9606-8288<img src="static/imagens/icons8-whatsapp-48.png" alt="WhatsApp" class="inline w-6 h-6"></a>
    <br>
    ou pelo e-mail: 
    <a href="mailto:comercial@matogrossooutdoors.com.br" class="text-blue-600 hover:underline">
        comercial@matogrossooutdoors.com.br
    </a>
</p>
{% endblock %}
