{% extends "base.html" %}
{% block metaExtra %}<meta name="robots" content="noindex, nofollow">{% endblock %}  
{% block title %}Links Secretos{% endblock %}
{% block subtitulo %}Links Secretos{% endblock %}
{% block content %}
<ul>
  <li><a href="{% url 'upload_csv' %}">Importar CSV</a></li>
  <li><a href="{% url 'upload_imagem' %}">Upload de Imagem</a></li>
  <li><a href="{% url 'lista_uploads' %}">Lista de Imagens</a></li>
  <li><a href="{% url 'admin:index' %}">Administração</a></li>
  <li><a href="{% url 'testeMap' %}">testes de mapa</a></li>
</ul>
{% endblock %}
