{% extends "base.html" %}
{% block title %}Sobre{% endblock %}
{% block subtitulo %}Sobre{% endblock %}
{% block content %}
<p class="text-base font-semibold text-green-800 mb-2">
Somos especialistas em mídia exterior com foco no mercado de outdoors no estado do Mato Grosso. Nosso time reúne profissionais experientes e apaixonados pelo que fazem, com profundo conhecimento das melhores práticas para gerar impacto visual e comunicar com eficiência.
<br><br>
Ao longo dos anos, construímos uma ampla rede de fornecedores e parceiros locais, o que nos permite oferecer uma grande variedade de locações estratégicas em diversas regiões do estado. Essa estrutura nos dá flexibilidade e agilidade para atender nossos clientes.
<br><br>
Nosso compromisso é ajudar nossos clientes a se destacarem, com campanhas que entregam máxima visibilidade e resultados concretos, sempre com transparência, profissionalismo e um atendimento próximo e personalizado.
</p>
{% endblock %}
